/* ===========================
   FOOTER
=========================== */

.footer{

    background:#050505;

    padding:80px 8% 40px;

    border-top:1px solid rgba(255,255,255,.08);

}

.footer-logo{

    font-size:50px;

    color:#c6a86b;

    font-weight:800;

    margin-bottom:20px;

}

.footer-center h3{

    font-size:38px;

    color:white;

    margin-bottom:10px;

}

.footer-center p{

    color:#a8a8a8;

    font-size:17px;

}

.footer-center span{

    color:#c6a86b;

}

.footer-social{

    display:flex;

    gap:20px;

    margin:35px 0;

}

.footer-social a{

    width:60px;

    height:60px;

    border-radius:50%;

    background:#111;

    display:flex;

    justify-content:center;

    align-items:center;

    color:white;

    font-size:24px;

    transition:.35s;

}

.footer-social a:hover{

    background:#c6a86b;

    color:black;

    transform:translateY(-8px);

}

.copyright{

    border-top:1px solid rgba(255,255,255,.08);

    padding-top:25px;

    color:#8b8b8b;

    display:flex;

    align-items:center;

    gap:10px;

}

.copyright svg{

    color:#ff4d6d;

}

@media(max-width:768px){

.footer{

text-align:center;

}

.footer-social{

justify-content:center;

}

.copyright{

justify-content:center;

}

}