html{
    scroll-behavior:smooth;
}

.navbar{

    position:fixed;

    top:20px;

    left:50%;

    transform:translateX(-50%);

    width:90%;

    height:70px;

    padding:0 40px;

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:rgba(8,8,8,.65);

    -webkit-backdrop-filter:blur(15px);
    backdrop-filter:blur(15px);

    border:1px solid rgba(255,255,255,.08);

    border-radius:60px;

    z-index:9999;

}

/* Logo */

.logo{

    color:#d4af37;

    font-size:30px;

    font-weight:700;

    letter-spacing:2px;

}

/* Links */

.nav-links{

    display:flex;

    gap:45px;

    list-style:none;

}

.nav-links li{

    list-style:none;

}

.nav-links a{

    color:#d5d5d5;

    text-decoration:none;

    font-size:16px;

    transition:.3s;

    position:relative;

}

.nav-links a:hover{

    color:#d4af37;

}

.nav-links a.active{

    color:#d4af37;

}

.nav-links a::after{

    content:"";

    position:absolute;

    bottom:-8px;

    left:50%;

    transform:translateX(-50%);

    width:0;

    height:2px;

    background:#d4af37;

    transition:.3s;

}

.nav-links a:hover::after,

.nav-links a.active::after{

    width:100%;

}

/* Mobile */

@media(max-width:900px){

.navbar{

width:95%;

padding:0 20px;

}

.logo{

font-size:24px;

}

.nav-links{

gap:18px;

}

.nav-links a{

font-size:14px;

}

}